{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
        <link href='https://css.gg/profile.css' rel='stylesheet'>
        <link href='https://css.gg/user.css' rel='stylesheet'>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        </div>
            <div class="logo">
                <h1>Auctions</h1>
            </div>
        <ul class="nav">
                <li><a class="nav-link active" href="{% url 'index' %}">Active Listings</a></li>
            {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'categories' %}">Categories</a></li>
                <li><a class="nav-link" href="{% url 'create' %}">Create Listing</a></li>
                <li><a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a></li>
                <li><a class="nav-link" href="{% url 'mylist' %}">My List</a></li>
                <li class="nav-right"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li class="nav-right"><a class="nav-link" href="{% url 'login' %}"><i class="gg-profile"></i></a>
            {% endif %}
        </ul>
        <div class="infom-login--right">
            {% if user.is_authenticated %}
            <div class="noti-signed">
                Signed in as <strong>{{ user.username }}</strong>.
            </div>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
